@tailwind components;

a:link {
  opacity: 0.7;
}

a:hover {
  opacity: 1;
}

a:active {
  transform: scale3d(1.2, 1.2, 1);
}

.op50 {
  opacity: 0.5;
}

.op40 {
  opacity: 0.4;
}

.ws-nowrap {
  white-space: nowrap;
}

@layer components {
  .op10,
  [op10=""] {
    opacity: 0.1;
  }

  .op20,
  [op20=""] {
    opacity: 0.2;
  }

  .op30,
  [op30=""] {
    opacity: 0.3;
  }

  .text-stroke-hex-aaa,
  [text-stroke-hex-aaa=""] {
    --jj-text-stroke-opacity: 1;
    -webkit-text-stroke-color: rgb(170 170 170 / var(--jj-text-stroke-opacity));
  }

  .text-stroke-hex-ddd,
  [text-stroke-hex-ddd=""] {
    -webkit-text-stroke-color: rgb(200 200 200 / var(--jj-text-stroke-opacity));
  }

  .text-stroke-2,
  [text-stroke-2=""] {
    -webkit-text-stroke-width: 2px;
  }

  .text-stroke-3,
  [text-stroke-3=""] {
    -webkit-text-stroke-width: 3px;
  }
}

.color-transparent,
[color-transparent=""] {
  color: transparent;
}

.text-8em,
[text-8em=""] {
  font-size: 8em;
}

.top--2rem,
[top--2rem=""] {
  top: -2rem;
}

.left--3rem,
[left--3rem=""] {
  left: -3rem;
}

.one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
